.popup {
  display: flex;
  justify-content: center;
  align-items:     center;
  color: #fff;
  
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;

  position: fixed;
  left: 50%;
  top:  50%;
  width:  100%;
  height: 100%;

  transform: translate(-50%, -50%);
  z-index: 9999;

  &--active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    backdrop-filter: blur(12px);
  }

  &__input-block {
    margin-bottom: 1em;
  }
  
  &__container {
    font-size: 2rem;
    display:    inline-flex;
    justify-content: center;
    align-items:     center;
    flex-direction:  column;
    width: 50rem;

    @include sm {
      font-size: 3rem;
      width:  90%;
      height: 50%;
    }

    padding: 1em 1.5em 1.4em;
    background-color: #112944;
    h1 {
      font-size: 1.5em;
      margin: 0;
      padding-bottom: .3em;
    }

    .input-block {
      display: flex;
      flex-direction: column;
      align-items:    center;
      width: 100%;

      input {
        width: 100%;
        height: 2em;
        
        color: #fff;
        background-color: inherit;
        border: initial;
        border-bottom: #c4c4c4 1px solid;

        &::placeholder {
          display: flex;
          align-items: center;
          font-size: .8em;
          color: #fff;
          opacity: 0.7;
        }
      }
    }
    
    .btn {
      &--send {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:     center;

        padding: 0.3em;
        color: #fff;
        background-color: #fb893d;
        border-radius: 2px;

        text-transform: uppercase;
      }
    }
    small {
      font-size: .5em;
      width: 100%;
      
      padding-top: 1.5em;
      text-align: center;
    }
  }
}