.section4 {
  position: relative;
  z-index: 0;

  background: url(../img/form-bg.jpg) no-repeat left -21rem / 120%;
  background-color: #080705;

  @include sm {
    background-size: cover;
    background-position: -2em top;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top:  0;
    width:  100%;
    height: 100%;
    background: rgba(32, 32, 37, 0.3);

    @include no-select();
  }

  &__inner {
    margin-left: 4rem;
  }

  &__title {
    line-height:   5rem;
    margin-bottom: 6rem;

    text-align: left;
  }
}