@import "../components/table";

.section2 {
  background-color: var(--secondary-color);

  &__buttons {
    display: flex;
    justify-content: center;
    align-items:     center;

    margin-top: 6rem;
  }
}
