.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 1rem 3.6rem 1.5rem;
  border-radius: .65rem;
  border: none;
  
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  text-transform: lowercase;

  letter-spacing: 0.01em;

  transition: all 100ms ease-in-out;

  &:disabled {
    opacity: .9;
    background-color: aliceblue;
    cursor: not-allowed;
    
    &:hover,
    &:focus {
      background-color: aliceblue;
    }
  }

  &--active {
    position: relative;
    z-index: 0;

    background: #E26309;
    box-shadow: .1rem .2rem 1rem rgba(241, 115, 26, 0.5);

    color: white;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top:  0;
      width:  100%;
      height: 100%;
      border-radius: inherit;
      background: linear-gradient(91.78deg, #E26309 0%, #FBB327 77.25%);

      opacity: 0;

      transition: opacity 100ms ease-in-out;

      @include no-select()
    }

    &:hover,
    &:focus {
      &::before {
        opacity: 01;
      }
    }
  }

  &--price {
    background-color: inherit;
    border: 0.1em solid white;

    &:focus,
    &:hover {
      background-color: white;
      color: var(--secondary-color);
    }
  }

  &--reversed {
    background-color: inherit;
    border: 0.1em solid currentColor;
    color: white;
    
    &:hover {
      color: var(--secondary-color);
      background-color: white;
    }
  }
}