.form {
  position: relative;

  display: flex;
  // justify-content: center;
  flex-direction: column;
  // align-items: center;

  // margin: 0 auto;
  max-width: 40rem;

  font-size: 2rem;

  cursor: initial;

  &::after {
    content: "";
    display: none;

    position: absolute;
    right: -40rem;
    top:   -58rem;
    width:  35rem;
    height: 39rem;
    background: url(../img/chibidoki-dance.gif);
  }

  @include sm {
    font-size: 3rem;
    width: 90%;
    height: 50%;
  }

  &__title {
    padding-bottom: .3em;
    margin: 0;

    font-size: 1.75em;
  }

  .tel-code {
    // background: pink;
    margin: 0 1.5rem;
    text-align: center;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    > * {
      display: flex;
      align-items: baseline;
      width: 100%;

      + * {
        margin-top: 1.5rem;
      }
    }

    input {
      width: 100%;
      // height: 2em;

      background: #2E2E36;
      border: none;
      border-radius: .8rem;
      padding: 1.8rem 2rem 2.2rem;

      color: white;
      
      font-size: 2rem;
      font-weight: 600;
      // line-height: 7rem;

      @include sm {
        font-size: 2.4rem;
      }

      &.error {
        // border-color: red;
        // border-radius: .25em;

        &::placeholder {
          // color: red;
        }
      }

      &:-webkit-autofill {
        // -webkit-text-fill-color: white !important;
        // -webkit-box-shadow: 0 0 0 30px #112944 inset !important;
        // border: #112944 .1em solid;
        // border-bottom-color: #c4c4c4;
      }
      
      &:hover {
        border-bottom-color: white;
      }
      
      &:focus {
        // border: white .1em solid;
        // border-radius: .25em;

        outline: .3rem solid white;
        outline-offset: .6rem;
      }

      &::placeholder {
        display: flex;
        align-items: center;
        color: white;
        opacity: 0.7;
      }
    }
  }

  &__btn {
    position: relative;
    z-index: 0;

    margin-top: 5rem;
    padding: 2rem 3.6rem 2.25rem;
    width: 100%;

    background: #147127;
    box-shadow: none;

    color: var(--primary-color);

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top:  0;
      width:  100%;
      height: 100%;

      background: linear-gradient(88.8deg, #147127 59.54%, #22AD3E 98.98%);
      border-radius: inherit;

      opacity: 0;
      
      transition: opacity 100ms ease-in-out;

      @include no-select()
    }
    
    &:hover::before,
    &:focus::before {
      opacity: 1;
    }

    &:disabled {
      background: linear-gradient(89.52deg, #5D635E 27.84%, #8F978F 79.96%);

      &:hover::before,
      &:focus::before {
        opacity: 0;
      }
    }
  }

  small {
    margin-top: 1.5rem;
    width: 100%;
    
    font-size: 1.4rem;
    text-align: center;
    opacity: .6;

    @include sm {
      font-size: 1.6rem;
    }
  }
}