.table {
  font-size: 1rem;

  display: flex;
  flex-direction: column;

  .row {
    font-size: 2em;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    width: 100%;
    border-bottom: #c4c4c4 2px solid;

    &:first-child {
      font-size: 1.7em;

      :first-child {
        justify-content: center;
      }
    }

    div {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: (100% / 3);

      line-height: 4rem;

      @include sm {
        line-height: 5rem;
        width: 25%;
      }

      &:first-child {
        justify-content: flex-start;

        @include sm {
          width: 50%;
        }
      }
    }
  }
}